{% extends 'layout.html' %}
{% block title %}Products{% endblock %}
{% block body %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add product
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <form  action=" " method="POST">


        <div class="form-group">
             <label for="product_type">Product Type</label>
             <input type="text" class="form-control" name="product_type" id="product_type" placeholder="COLOR PRINTING & COPY">
         </div>

         <div class="form-group">
            <label for="client_role">Client Role</label>
            <select class="form-control" id="client_role" name="client_role">
                <option value="Staff/Faculty/Graduate">Staff/Faculty/Graduate</option>
                <option value="Student_Org">Student Org</option>
            </select>
         </div>

          <div class="form-group">
               <label for="description">Description</label>
               <input type="text" class="form-control" name="description" id="description" placeholder="8.5x11 28/32lb">
           </div>


          <div class="form-group">
               <label for="product_code">Product Code</label>
               <input type="text" class="form-control" name="product_code" id="product_code" placeholder="111111">
           </div>

          <div class="form-group">
               <label for="quantity_range">Quantity Range</label>
               <input type="text" class="form-control" name="quantity_range" id="quantity_range" placeholder="1-99">
           </div>

           <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" id="price" placeholder="0.55">
            </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
<br><br>

<table class="table table-striped" id="dataTable">
  <thead>

    <tr>
      <th scope="col">Product Type</th>
      <th scope="col">Client Role</th>
      <th scope="col">Description</th>
      <th scope="col">Product Code</th>
      <th scope="col">Quantity Range</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>

  </thead>
 <tbody>
    {% for product in products %}
    <tr>
        <th>{{ product.product_type }}</th>
        <td>{{ product.client_role }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.product_code }}</td>
        <td>{{ product.quantity_range }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a href="/product/update/{{ product.product_code }}">
                <button type="button" class="btn btn-primary btn-circle btn-sm">
                    <i class="far fa-edit"></i>
                </button>
            </a>
            <a data-toggle="modal" data-target="#deleteModal{{ product.product_code }}">
                <button type="button" class="btn btn-danger btn-circle btn-sm">
                    <i class="far fa-trash-alt"></i>
                </button>
            </a>
        </td>
    </tr>
    <!-- delete modal -->
    <div class="modal fade" id="deleteModal{{ product.product_code }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Product?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_product', product_code=product.product_code) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</tbody>

</table>

{% endblock %}
